{% extends 'list_dbs.html' %}


{% block show_table_info %}

    {% if not session['read_only'] %}

        {% block sql_editor %}

                        <div class="dropdown" role="menu">
                            <button class="btn btn-outline-primary" dropdown-toggle
                            " type="button" id="adhoc" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Queries
                            </button>
                            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                                {% for item in session['misc']|sort %}
                                    <li class="dropdown-divider"></li>
                                    <li class="dropdown-submenu">
                                    <a class="dropdown-item" class="dropdown-item" tabindex="-1" href="#">{{ item }}</a>
                                    <ul class="dropdown-menu">

                                        {% for subitem in session['misc'][item] %}
                                            <li class="dropdown-item"><a class="dropdown-item"
                                                                         onclick="
                                                                                 let {{ item }}_{{ loop.index }}=unEscape({{ item }}_item_{{ loop.index }})
                                                                                 document.getElementById('sql').value={{ item }}_{{ loop.index }}.replace(/;/g,';\r\n');
                                                                                 document.getElementById('sql').focus();
                                                                                 document.getElementById('infotarget').innerText='{{ subitem['info']|safe }}';
                                                                                 return false;"
                                                                         href="#">{{ subitem['title'] }} </a></li>
                                        {% endfor %}
                                    </ul>

                                {% endfor %}

                                <li class="dropdown-divider"></li>
                                {% if session['history'] %}
                                    <li class="dropdown-submenu">
                                    <a class="dropdown-item font-weight-bold" class="dropdown-item" tabindex="-1" href="#">query
                                        history</a>
                                    <ul class="dropdown-menu">

                                    {% for item in session['history'][:25]|reverse %}
                                        <li class="dropdown-item"><a class="dropdown-item"
                                                                     onclick="history_item_{{ loop.index }}=unEscape(history_item_{{ loop.index }})
                                                                             document.getElementById('sql').value=history_item_{{ loop.index }}.replace(/;/g,';\r\n');;
                                                                             {#document.getElementById('collapse4242').style.display='none';#}
                                                                             document.getElementById('sql').focus();
                                                                             return false;"
                                                                     href="#">{{ loop.index }}. {{ item|truncate(80, True) }} </a>
                                        </li>
                                    {% endfor %}
                                {% endif %}


                                </ul>
                                </li>
                            </ul>
                            <button class=" btn-outline-primary waves-effect btn-floating " type="button" data-toggle="collapse"
                                    data-target="#collapse4242"
                                    aria-expanded="false" aria-controls="collapse"><i
                                    class="fa-solid fa-circle-info  fa-lg"></i>
                            </button>
                        </div>

                        <!-- Collapsible element -->
                        <div class="collapse text-left dark-grey-text" id="collapse4242">
                            <div class="container my-3 py-3 z-depth-1">
                                <p id="infotarget" class="font-weight-bold "></p>
                                <section class="dark-grey-text "></section>
                            </div>
                        </div>

            <form action="/{{ session["server"] }}/{{ session['database'] }}/{{ session['table'] }}/sql/" method="post">
                <div class="form-group  text-monospace blue-border-focus ">
                    <label for="exampleFormControlTextarea1"></label>
                    <textarea class="form-control" name="sql" id="sql" rows="7"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            {% if error %}
                <div class="note note-danger">
                    <pre><strong>SQL: </strong>{{ session['sql'] }}</pre>
                    <strong>Error! </strong>{{ error }}
                </div>
            {% endif %}

            {% if message %}
                <div class="note note-success">
                    <pre><strong>SQL:</BR></strong>{{ session['sql'] }}</pre>
                    <strong>Success: </strong>{{ message }}
                </div>
            {% endif %}

        {% endblock %}

    {% endif %}


    <table id="proxywebtable" class=" table table-striped  table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
        <tr>
            {% for column_name in content['column_names'] %}
                <th class="th-sm">{{ column_name }}

                </th>
            {% endfor %}
        </tr>
        </thead>

        <tbody>
        {% for row in content['rows'] %}
            <tr>
                {% for column in row %}
                    <td style="max-width:850px;"> {{ column }}</td>
                {% endfor %}
            </tr>

        {% endfor %}

        </tbody>
    </table>


    </br>


{% endblock %}
